/*============================================
                    BODY
==============================================  */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #3b1d60, #040d3e);
}

body img {
  pointer-events: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: #99efd0;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.text__title {
  color: #99efd0;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 42px;
}

.sub__title {
  color: #8476AA;
  font-size: 16px;
  font-family: "Gilroy-SemiBold", sans-serif;
}

.but__orange {
  border-radius: 4px;
  color: #ffffff;
  background-color: #f2994a;
  border: 1px solid #f2994a;
  box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
  cursor: pointer;
  text-transform: uppercase;
  transition: all .2s linear;
  letter-spacing: 2px;
}

.but__orange:hover {
  color: #f2994a;
  background: transparent;
  box-shadow: none;
}

.div_main {
  margin: 0px auto;
  width: 1200px;
}

/*=======================================
                HEADER
=========================================*/

.header_padding {
  margin-top: 80px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  justify-content: space-between;
}

.menu_item {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.menu_item a {
  margin-left: 30px;
  text-decoration: none;
  color: #b5b5b5;
  letter-spacing: 2px;
}

.header_but {
  display: flex;
  justify-content: flex-end;
}

.nav__header {
  display: flex;
  justify-content: space-between;
  letter-spacing: 2px;
}

.sign__in {
  letter-spacing: 2px;
  width: 112px;
  height: 36px;
  border: 1px solid #F2994A;
  border-radius: 4px;
  background: transparent;
  color: #F2994A;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .2s linear;
}

.sign__in:hover {
  background-color: #F2994A;
  color: #ffffff;
  box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
}

.sign__up {
  width: 112px;
  height: 36px;
  margin-left: 20px;
}

/*====================================================
                    UNDER HEADER
====================================================== */

.under__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 105px 11px 0px;
}

.left__bar {
  height: 439px;
  width: 540px;
}

.main__logo {
  width: 540px;
  font-size: 36px;
}

.under__logo {
  width: 470px;
  height: 44px;
  margin-top: 19px;
  font-size: 18px;
  line-height: 22px;
  color: #8476aa;
}

.but {
  margin-top: 40px;
}

.learn__mode {
  width: 157px;
  height: 46px;
}

.demo {
  width: 157px;
  height: 46px;
  margin-left: 20px;
}

.video {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  line-height: 22px;
}

.text__video {
  width: 380px;
  height: 44px;
  margin-top: 5px;
  margin-left: 20px;
  color: #8476aa;
  font-size: 16px;
}

.under__text {
  color: #6d6d78;
  font-size: 14px;
}

.img__human {}

/* LOGOS */

.logos__features {
  margin-top: 100px;
  background-image: url("/img/background-img/back-feature.png");
  background-position: center;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logos__item {
  opacity: 0.45;
}

/*==============================
            FEATURES
=================================*/

.features {
  margin-top: 100px;
  margin-bottom: 20px;
}

.main__choise {
  text-align: center;
}

.sub__choise {
  text-align: center;
  margin-top: 13px;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex__choise {

  display: flex;
  justify-content: space-between;
}

.choise__item {
  margin-top: 50px;
  display: flex;
}

.text__flex {
  margin-left: 25px;
}

.name__block {
  font-size: 18px;
}

.text__block {
  margin-top: 10px;
  width: 260px;
  line-height: 22px;
}